.button {
    border: none;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
    display: inline-flex;
    gap: 8px;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.primary {
    background-color: #7280ed;
    color: white;
}

.primary:hover:not(:disabled) {
    background-color: rgb(69, 111, 188);
}

.secondary {
    background-color: #6c757d;
    color: white;
}

.secondary:hover:not(:disabled) {
    background-color: #545b62;
}

.danger {
    background-color: #ca1c1d;
    color: white;
}

.danger:hover:not(:disabled) {
  background-color: #b11515;
}

.large {
  padding: 16px 32px;
  font-size: 18px;
}

.medium {
  padding: 10px 20px;
  font-size: 15px;
}

.small {
  padding: 8px 16px;
  font-size: 13px;
}

