.header {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px; 
  cursor: pointer;
}

.logo:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.logoText {
  font-size: 20px;
  font-weight: 700;
  color: #2f2f2f;
  padding: 0 16px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
  padding-right: 10px; 
}
